<a id="logo"
  style="
    color: white;
    font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: -6px;
  "
  href='{{ (cond (and (ne .Site.Params.landingPageURL nil) (.Site.IsMultiLingual)) .Site.Params.landingPageURL "/gt-user-manual") }}'>
  <svg width="96" height="96"  viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
   <g transform="matrix(1,0,0,1,-351.691,-401.575)">
       <g transform="matrix(3.125,0,0,3.125,-145.669,338.696)">
           <g transform="matrix(1.875,0,0,1.88939,-135.184,-23.5757)">
               <g transform="matrix(0.200406,0,0,0.265732,149.014,-2.2514)">
                   <path d="M42,100L42,159" style="fill:none;stroke:black;stroke-width:3.81px;"/>
               </g>
               <g transform="matrix(0.125,0,0,0.251005,152.181,0.0902479)">
                   <path d="M170,159L42,159" style="fill:none;stroke:black;stroke-width:4.52px;"/>
               </g>
           </g>
           <g transform="matrix(0.743877,-0.489492,0.504049,0.723239,33.9704,114.697)">
               <text x="163.82px" y="25.027px" style="font-family:'Corbel-Bold', 'Corbel', sans-serif;font-weight:700;font-size:30.26px;fill:rgb(0,57,248);">GT</text>
           </g>
       </g>
   </g>
</svg><br>
Grafioschtrader
</a>
